<div class="" *ngIf="identity && identity.rol.name == 'Cliente Admin'|| identity.rol.name == 'Super Administrador'">
<!-- Blank Header -->
<div class="content-header">
    <div class="header-section">
        <h1>
            <i class="fa fa-user"></i>{{titulo}}<br><small>En esta sección pudes cambiar el estado de los empleados !</small>
        </h1>
    </div>
</div>
<ul class="breadcrumb breadcrumb-top">
    <li>Home</li>
    <li>Gestionar usuario</li>
    <li><a href="">{{titilo}}</a></li>
</ul>
<!-- END Blank Header -->

<!-- Example Block -->
<div class="block">
    <!-- Example Title -->
    <div class="block-title">
        <h2>{{titulo}}</h2>
    </div>
    <!-- END Example Title -->

    <!-- Example Content -->
    <form id="form-validation" #formUser="ngForm" method="post" class="form-horizontal form-bordered" (ngSubmit)="onSubmit()">
      <fieldset>
        <legend><i class="fa fa-angle-right"></i> Datos del usuario</legend>
        <div *ngIf="alertMessage">
            <div class="alert alert-info">
              {{alertMessage}}
            </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="nombre">Nombre<span class="text-danger">*</span></label>
          <div class="col-md-6">
            <input type="text" id="name"  name="name" class="form-control"  placeholder="Digite el nombre " value="{{employee.id_user.name}}" readonly>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="surname">Apellido<span class="text-danger">*</span></label>
          <div class="col-md-6">
            <input type="text" id="surname"  name="surname" class="form-control"  placeholder="Digite el apellido" value="{{employee.id_user.surname}}" readonly>

          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="dni">Documento de identidad<span class="text-danger">*</span></label>
          <div class="col-md-6">
            <input type="number" id="dni"  name="dni" class="form-control"  placeholder="Digite el documento" value="{{employee.id_user.dni}}"  readonly>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="email">Email<span class="text-danger">*</span></label>
          <div class="col-md-6">
            <input type="email" id="email"  name="email" class="form-control"  placeholder="Digite el email" value="{{employee.id_user.email}}" readonly>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-4 control-label" for="phone">Teléfono<span class="text-danger">*</span></label>
          <div class="col-md-6">
            <input type="number" id="phone"  name="phone" class="form-control"  placeholder="Digite el teléfono" value="{{employee.id_user.phone}}"  readonly>
          </div>
        </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="code">Codigo<span class="text-danger">*</span></label>
            <div class="col-md-6">
              <input type="text" id="code" name="code" class="form-control" placeholder="Digite el codigo" value="{{employee.code}}" readonly>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="cost_center">Centro de Costo</label>
            <div class="col-md-6">
              <input type="text" class="form-control" id="cost_center"  name="cost_center"  placeholder="Seleccione el centro de costo" value="{{employee.id_cost_center.name}}" readonly>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="location">Localidad destino</label>
            <div class="col-md-6">
              <input type="text" class="form-control" id="location"  name="destino"  placeholder="Seleccione la localidad" value="{{employee.id_localidad.name}}" readonly>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-4 control-label" for="address">Dirección<span class="text-danger">*</span></label>
            <div class="col-md-6">
              <input type="text" id="address"name="address" class="form-control" placeholder="Calle 1C bis #18-34" value="{{employee.address}}" readonly>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label" for="status">Estado<span class="text-danger">*</span></label>
            <div class="col-md-6">

                    <label class="radio-inline" for="" >
                            <input class="radio-inline" type="radio" #status="ngModel" id="status" name="status" value="true" [(ngModel)]="employee.status"> Activo
                    </label>
                    <label class="radio-inline" for="" >
                            <input class="radio-inline" type="radio" #status="ngModel" id="status" name="status" value="false" [(ngModel)]="employee.status"> Inactivo
                    </label>


              <span *ngIf="!status.valid && status.touched"><p style="color:#b61922;">El nombre del tema es obligatorio.</p></span>
            </div>
          </div>

        <div class="form-group ">
          <div class="col-md-8 col-md-offset-4">
            <button href="" type="submit" class="btn btn-sm btn-success" [disabled]="!formUser.form.valid"><i class="fa fa-arrow-right"></i> {{titulo}}</button>
            <button id="btn-eliminar" type="reset" class="btn btn-sm btn-warning"><i class="fa fa-repeat"></i> Limpiar</button>
          </div>
        </div>
      </fieldset>
    </form>
    <!-- END Example Content -->
</div>
<!-- END Example Block -->
</div>
<div class="" *ngIf="!identity || identity.rol.name != 'Super Administrador'">
  <h2>ERROR: Permisos</h2>
  <br>
  <p style=" color: #333;">No tienes acceso a esta parte de la aplicación.</p>
</div>
