<div class="" *ngIf="identity && identity.rol.name == 'Super Administrador' || identity.rol.name == 'Administrador' || identity.rol.name == 'Coordinador' || identity.rol.name == 'Facturador' || identity.rol.name == 'Cliente Admin'">
  <!-- Blank Header -->
  <div class="content-header">
      <div class="header-section">
          <h1>
              <i class="fa fa-road"></i>{{titulo}}<br><small>En esta sección pudes ver las rutas registradas!</small>
          </h1>
      </div>
  </div>
  <ul class="breadcrumb breadcrumb-top">
      <li>Home</li>
      <li>Rutas</li>
      <li><a href="">{{titulo}}</a></li>
  </ul>
  <!-- END Blank Header -->

  <!-- Example Block -->
  <div class="block">
      <!-- Example Title -->
      <div class="block-title">
          <h2>{{titulo}}</h2> &nbsp;&nbsp;&nbsp;&nbsp;<a [routerLink]="['/crear-ruta']"  id="btn-search-user"><i class="fa fa-plus"></i>Agregar nueva ruta</a>
      </div>
      <!-- END Example Title -->
        <div class="table-responsive remove-margin-bottom">
          <table id="table-usuarios-app" class="table table-vcenter table-condensed table-bordered">
              <thead>
                  <tr>
                      <th class="text-center">ID</th>
                      <th class="text-center">Ruta</th>
                      <th class="text-center">Conductor</th>
                      <th class="text-center">Vehículo</th>
                      <th class="text-center">Valor</th>
                      <th class="text-center">Fechas</th>
                      <th class="text-center">Acción</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let route of routes">
                      <td class="text-center">{{route._id}}</td>
                      <td class="text-center">{{route.name}}</td>
                      <td class="text-center">{{route.driverCar.driver.user.name}} {{route.driverCar.driver.user.surname}}</td>
                      <td class="text-center">{{route.driverCar.car.placa}}</td>
                      <td class="text-center">${{route.price}}</td>
                      <td class="text-center">{{route.date}}</td>
                      <td class="text-center" *ngIf="identity.rol.name != 'Super Administrador'">
                        <div class="btn-group">
                            <a [routerLink]="['/ver-ruta', route._id]" data-toggle="tooltip" title="Ver" class="btn btn-xs btn-default"><i class="fa fa-eye"></i></a>
                        </div>
                      </td>
                      <td class="text-center" *ngIf="identity.rol.name == 'Super Administrador'">
                          <div class="btn-group">
                              <a [routerLink]="['/ver-ruta', route._id]" data-toggle="tooltip" title="Ver" class="btn btn-xs btn-default"><i class="fa fa-eye"></i></a>
                          </div>
                      </td>
                  </tr>
                </tbody>
            </table>
        </div>
      <!-- Example Content -->

      <!-- END Example Content -->
  </div>
  <!-- END Example Block -->
</div>
<div class="" *ngIf="!identity || identity.rol.name != 'Super Administrador' && identity.rol.name != 'Administrador' && identity.rol.name != 'Coordinador' && identity.rol.name != 'Facturador' && identity.rol.name != 'Cliente Admin'">
  <h2>ERROR: Permisos</h2>
  <br>
  <p style=" color: #333;">No tienes acceso a esta parte de la aplicación.</p>
</div>
